<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watering.dao.PermissionMapper">

    <resultMap id="PermissionDTO" type="com.watering.domain.DTO.PermissionDTO">
        <result property="id" column="id"></result>
        <result property="url" column="url"></result>
        <result property="description" column="description"></result>
        <collection property="roles" column="name" ofType="com.watering.domain.DTO.RoleDTO" javaType="List">
            <result property="name" column="name"></result>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="PermissionDTO">
        select permission.*,role.name from permission
        LEFT JOIN per_rol_mapper on permission.id=per_rol_mapper.perid
        LEFT JOIN role on per_rol_mapper.rolid = role.id
    </select>
</mapper>
